PORT=3000
NODE_ENV=production
MONGODB_URI=tu_conexion_mongodb
JWT_SECRET=tu_secreto_jwt
JWT_EXPIRES_IN=1d
GOOGLE_CLIENT_ID=tu_client_id_google
GOOGLE_CLIENT_SECRET=tu_client_secret_google
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion